@charset "utf-8";

/*Passion One*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/*Sriracha*/
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'Passion One', cursive;
    --fonte03: 'Sriracha', cursive;  
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte01);

    /*No min-height pode ser 100% ou 100vh*/

}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size:10vw;
    

    /*Padding-top dá um espacinho na parte de cima do "Cordel Moderno".*/

    /*O "text-transform:uppercase;" pode deixar a fonte muito pequena ou muito grande.*/

    /*A "font-variant" reduz o tamanho da fonte mais delicadamente, além de manter as letras maiúsculas.*/
}

header > p {
    padding-bottom: 50px;
}

a:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {
    background-color: rgb(84, 84, 84);
    color: white;

    box-shadow: inset 6px 6px 12px 0px black;
    /*Cria o efeito de folha rasgada nas partes com imagem do site*/
    background-size: cover; /*O cover deixa a imagem mais organizada*/
    background-attachment: fixed; /*Cria o efeito paralax*/
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.656);
    text-shadow: 1px 1px 0px black; /* Aqui, adicione a sombra no texto*/
}

section > p {
    padding-bottom: 20px;
}

section#img01 {
    background-image: url('../pacote-d012/imagens/background001.jpg');
    
    background-position: right center; /*posição centralizada à direita*/
}

section#img02 {
    background-image: url('../pacote-d012/imagens/background002.jpg');

    background-position: right center; /*centraliza a imagem à direita*/
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}